<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=jw7GqM8blE">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=jw7GqM8blE">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-chrome-192x192.png?v=jw7GqM8blE">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=jw7GqM8blE">
<link rel="manifest" href="/assets/icons/site.webmanifest?v=jw7GqM8blE">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=jw7GqM8blE" color="#134441">
<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=jw7GqM8blE">
<meta name="apple-mobile-web-app-title" content="SNEF">
<meta name="application-name" content="SNEF">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png?v=jw7GqM8blE">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=jw7GqM8blE">
<meta name="theme-color" content="#09423f">
